== Dear #{@invite.name}

%p
  We have received your request to be invited into our exclusive beta. We'll let you know as soon as its available.
  == Please check back at #{link_to 'http://awesome-site.heroku.com', 'http://awesome-site.heroku.com'}

%p You must be very excited!

Thanks
An Awesome New Startup