== Dear #{@invite.name}

We have received your request to be invited into our awesome site. We'll let you know as soon as its available. Please check back at http://awesome-site.heroku.com

You must be very excited!

Thanks
An Awesome New Startup